@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-bg-1);
    box-sizing: border-box;

}

:root {
    /* Font */
    --font-bg-1: 'Nunito', sans-serif;

}

html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
    height: 100vh;

}

ul {
    list-style: none;

}

li {
    list-style: none;

}

a {
    text-decoration: none;

}


.page-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;

}


.container {
    max-width: 1170px;
    margin: auto;
    padding: 15px 0;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 0;

}

.header::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 10px));
    background-color: rgb(31, 31, 31);

    transition: transform .5s;

}

.header.activeNav::before {
    transform: translateY(0%);

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo a {
    position: relative;
    display: flex;
    font-size: 28px;
    color: #fff;
    opacity: 0;
    transform: translateY(-100%);
    font-weight: 600;

}

.navb li {
    display: inline-block;
    margin-left: 35px;

}

.navb li a {
    display: block;
    transform: translateY(calc(-100% - 10px));
    color: #fff;
    font-weight: 550;
    opacity: 0;
    transition: color .5s;

}

.navb li a:hover {
    color: rgb(116, 166, 200);

}

.content {
    position: absolute;
    display: flex;
    width: 480px;
    height: 40Vh;
    padding: 10px;
    left: 12%;
    top: 34%;

}

.content .content__title {
    display: block;
    color: #fff;
    transform: translateX(100%);
    opacity: 0;
    font-size: 28px;

}

.content__description {
    display: block;
    color: #fff;
    opacity: 0;
    transform: translateX(110%);
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 18px;

}

.btn__content {
    position: relative;
    display: block;
    border: none;
    outline: none;
    opacity: 0;
    transform: translateY(100%);
    border-radius: 50px;
    padding: 13px 40px;
    font-size: 17px;
    font-weight: 700;
    background-color: rgb(116, 166, 200);

    cursor: pointer;

}

.btn__content a {
    color: #fff;
}

.blogText {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    font-size: 39px;
    transform: translate(-50%, -50%);
    color: rgb(116, 166, 200);
}

.block4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

.container__block4 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

}

.contactOuter {
    position: relative;
    display: flex;
    top: 30px;
    left: 50px;

}

.contactOuter p {
    width: 60%;
    height: 500px;
}

.about {
    position: relative;
    display: flex;
    padding: 100px 0;

}

.row {
    display: flex;
    flex-wrap: wrap;

}

.main {
    position: relative;
    display: flex;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.align-items-center {
    align-items: center;

}

.center {
    justify-content: center;

}

.about__description {
    width: 500px;
    padding: 20px;
    color: #fff;

}

.about__img {
    margin: auto;
    width: 400px;
    height: auto;
    border-radius: 12px;

}

.projet {
    width: 100%;
    min-height: 100vh;

    position: relative;

}

.cart__p {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 12px;
    width: 560px;
    height: 470px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 15px 35px rgb(204, 203, 203, .48);
    background-color: rgb(31, 31, 31);
}

.pad {
    padding: 30px;
}

.title__projet {
    text-align: center;
    margin-bottom: 12px;
}

.title__projet::after {
    content: "";
    display: block;
    margin: auto;
    width: 50%;
    height: 4px;
    border-radius: 50px;
    background-color: #fff;
}
.desc__projet {
    width: 300px;
}
.banner__p {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 23px;
    

}

.banner__p img {
    width: 230px;
    height: 230px;
}

.footer-page {
    width: 100%;
    min-height: 34vh;

    position: relative;
}

.container-footer {
    padding: 70px 0;
    background-color: rgb(31, 31, 31);

}

.cart-row-x {
    max-width: 1150px;
    margin: auto;

}

.row__x {
    display: flex;
    flex-wrap: wrap;
}

.cart-footer {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 14px;

}

.cart-footer h1 {
    color: #fff;
    font-size: 26px;

}

.cart-footer p {
    color: #ffff;
    width: 250px;
    font-size: 18px;
}

.cart-footer .social-footer {
    display: flex;

}

.cart-footer .social-footer li {
    margin-left: 14px;
}

.cart-footer li {
    display: flex;
    flex-direction: column;

}

.cart-footer li a {
    display: block;
    color: rgb(204, 203, 203);
    font-size: 18px;
    margin-bottom: 12px;
    transition: color .5s;

}

.cart-footer li a:hover {
    color: #ffff;
}

@media screen and (max-width: 991px) {
    .header .logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .navb {
        display: none;
    }

    .content {
        top: 18%;
        left: 8%;
        width: 280px;
    }

    .about__img {
        width: 80%;
    }

    .about__description {
        text-align: center;
        width: 100%;
    }

    .row__x {
        flex-direction: column;
    }

}